# Show us information about failures.
build --verbose_failures
test --test_output=errors

# Make /tmp hermetic
build --sandbox_tmpfs_path=/tmp

# Enable go race detection.
build:unit --features=race
test:unit --features=race
