# https://github.com/kubernetes/kubernetes/pull/79807
# https://github.com/bazelbuild/rules_docker/issues/842
# https://github.com/bazelbuild/bazel/issues/7899
#build --host_force_python=PY2

# Show us information about failures.
build --verbose_failures
test --test_output=errors

# Make /tmp hermetic
build --sandbox_tmpfs_path=/tmp

# Enable go race detection.
build:unit --features=race
test:unit --features=race
