.vscode/
.bazel/
.DS_Store
bazel-workspace
out
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel-trisa
/artifacts
/docs/public
server.crt
server.key
trust.chain
.remote-cache-sa.json
.idea/
*.code-workspace
!docs/static/**