name: CI
on:
  push:
    branches:
      - main
      - 'v*'
    tags:
      - 'v*'
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22.x

      - name: Install Staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@2023.1.7

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Lint Go Code
        run: staticcheck ./...

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go-version: [1.20.x, 1.21.x, 1.22.x]
    env:
      GOPATH: ${{ github.workspace }}/go
      GOBIN: ${{ github.workspace }}/go/bin
      GOTEST_GITHUB_ACTIONS: 1
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/trisacrypto/trisa
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Cache Speedup
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: ${{ env.GOPATH }}/src/github.com/trisacrypto/trisa

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '27.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: |
          go version
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.34.2
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.4.0

      - name: Code Generation
        run: go generate ./...

      - name: Run Unit Tests
        run: go test -v -coverprofile=coverage.txt -covermode=atomic --race ./...

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GOPATH: ${{ github.workspace }}/go
      GOBIN: ${{ github.workspace }}/go/bin
      GOTEST_GITHUB_ACTIONS: 1
    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/trisacrypto/trisa
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.22.x

      - name: Cache Speedup
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          path: ${{ env.GOPATH }}/src/github.com/trisacrypto/trisa

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '27.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: |
          go version
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.34.2
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.4.0

      - name: Code Generation
        run: go generate ./...

      - name: Build
        run: go build ./cmd/...